body
{
    background-color: #5E5E5E; 
    color: #E8E8E8;
    font-size: 3rem;
}

a
{
    text-decoration: none;
    color: #E8E8E8;
}

a:link
{
    text-decoration: none;
    color: #E8E8E8;
}

a:visited
{
    text-decoration: none;
    color: #E8E8E8;
}

a:hover
{
    text-decoration: none;
    color: #A8A8A8;
}

button {
    border: none;
    font-size: 3vw;
}

button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}