body
{
    background-color:#293241; 
    color: #E8E8E8;
    font-size: 3rem;
}

a
{
    text-decoration: none;
    color: #E8E8E8;
}

a:link
{
    text-decoration: none;
    color: #E8E8E8;
}

a:visited
{
    text-decoration: none;
    color: #E8E8E8;
}

a:hover
{
    text-decoration: none;
    color: #A8A8A8;
}

.button
{
    font-size: 3vw;
}

.mainButton
{
    border-radius: 12px;
}




.reset-Button {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    border-radius: 12px;
}